<div class="home-container">
    <header class="home-header">
        <h1>Projeto de Marlon</h1>
    </header>
    <section class="API-card">
        <h2>API utilizada: openlibrary</h2>
    </section>
    <section class="link-card-container">
        <section class="link-card">
            <h2>Páginas</h2>
            <div class="link">
                <h3>Lista dos livros:</h3>
                <a routerLink="/listar" class="btn">Ver Livros</a>
            </div>
            <div class="link">
                <h3>Cadastro de Usuário:</h3>
                <a routerLink="/cadastrar" class="btn">Cadastro</a>
            </div>
        </section>
    </section>
</div>